.div-margin
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
}
.div-margin-footer
{
    margin-left: auto;
    margin-right: auto;
}
.font-color
{
    color:#c1cfda;
}
.heading-color
{
    color:#253745;
}

/* 1st box margin for row */
.top-margin
{
    margin-top:100px;
}
.bg-color
{
    background-color:#253745;
}
.nav-text
{
    color: whitesmoke !important;
}
.btn-color
{
    color:white;
    background-color: #32c36c;
    width:100px;
    border:1px #32c36c solid !important;
    padding:5px;
}
.color
{
    color:#32c36c;
}
.nav-text-1
{
    color: whitesmoke !important;
    margin-top: 80px;
}
.img-size
{
    margin-left: 300px;
}
.btn-getstarted
{
    height:35px;
    width:35px;
    border-radius: 50%;
    border:none;
    background-color: whitesmoke;
}

/* 2nd box */
.div-style
{
    height: 280px;
    width:400px;
    background-color: #32c36c;
}
.div-style-1
{
    height:330px;
    width:500px;
   
}
.img-size-1
{
    height:320px;
    width:500px;
    border-bottom-right-radius: 100px;
   
}
.absolute-margin-2
{
    top:20px;
    left:-210px;
}
.heading-margin
{
    margin-left: 200px;
}
.color-grey
{
    color:lightgray;
}
.icon-div
{
    height:55px;
    width:55px;
    border-radius: 50%;
    background-color:#253745;
}
.btn-color-1
{
    color:white;
    background-color: #32c36c;
    width:150px;
    border:1px #32c36c solid !important;
    padding:4px;
}

/* 3rd box */
.div-style-1
{
    height: 240px;
    width:300px;
    background-color: #32c36c;
    margin-left: 250px;
   
}
.div-style-2
{
    height:300px;
    width:400px;
    margin-left: 55px;
    margin-top: 4px;
}
.img-size-2
{
    height:300px;
    width:400px;
    border-bottom-left-radius: 150px;
    margin-left:55px;
    margin-top: 4px;
}
.absolute-margin
{
    top:15px;
    left:30px;
}

/* 4th box */
.div-style-3
{
    height:auto;
    width:auto;
    padding-top: 80px;
    padding-bottom: 80px;
}
.img-size-3
{
    height:auto;
    width:auto;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.color-darkgray
{
    color:#253745;
}
.progress-height
{
    height:8px;
}
.absolute-margin-progress84
{
   left:1420px;
   bottom:-1430px;
   color:#32c36c;
   font-weight:500;
}
.absolute-margin-progress35
{
   left:1420px;
   bottom:-1330px;
   color:#32c36c;
   font-weight:500;
}
.absolute-margin-progress67
{
   left:1420px;
   bottom:-1235px;
   color:#32c36c;
   font-weight:500;
}
.bg-progress
{
    background-color: #32c36c;
}

/* 5th box */
.div-darkgray
{
    height:250px;
    width:250px;
    background-color: #253745;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.div-darkgray-1
{
    padding-top: 35px;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-right: 20px;
}

/* 6th box */
.div-padding
{
    padding-top: 50px;
    padding-bottom:90px ;
}
.topmargin
{
    margin-top: 30px;
}
.img-div
{
    height:60px;
    width:60px;
    border-radius: 50%;
    border:none;
}
.position-center-img
{
    display: block; 
    margin-right:auto;
    margin-left:auto;
}
.position-center-text
{
    text-align: center;
}
.btn-viewall
{
    color:white;
    background-color: #32c36c;
    width:150px;
    height: 50px;
    border:1px #32c36c solid !important;
    padding:5px;
}
.border
{
    border-radius:25px 25px 25px 25px;
}
.border-cardbody
{
    border-bottom-right-radius:25px ;
    border-bottom-left-radius:25px ;
}
.card-img-div
{
    height:30px;
    width:30px;
    border-radius: 50%;
    border:none;
}
.list
{
    list-style-type: none;
  margin-left: -34px;
}
.flx
{
    margin-left: 100px;
}
.list-leftmargin
{
    margin-left: 130px;
}

/* border */
.border-3rdbox small
{
    position:relative;
    padding: 0px 15px;
}
.border-3rdbox small:before
{
    content:'';
    border:3px solid #32c36c;
    position:absolute;
    left:0px;
    top:0px;
    width:3px;
    height:40px;
}