.div-margin
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
}
.div-margin-footer
{
    margin-left: auto;
    margin-right: auto;
}
.font-color
{
    color:#c1cfda;
}
.heading-color
{
    color:#253745;
}

/* 1st box margin for row */
.top-margin
{
    margin-top:100px;
}
.bg-color
{
    background-color:#253745;
}
.nav-text
{
    color: whitesmoke !important;
}
.btn-color
{
    color:white;
    background-color: #32c36c;
    width:100px;
    border:1px #32c36c solid !important;
    padding:5px;
}
.color
{
    color:#32c36c;
}
.nav-text-1
{
    color: whitesmoke !important;
    margin-top: 80px;
}
.img-size
{
    margin-left: 300px;
}
.btn-getstarted
{
    height:35px;
    width:35px;
    border-radius: 50%;
    border:none;
    background-color: whitesmoke;
}

/* 2nd box */
.div-style
{
    height: 280px;
    width:400px;
    background-color: #32c36c;
}
.div-style-1
{
    height:330px;
    width:500px;
   
}
.img-size-1
{
    height:320px;
    width:500px;
    border-bottom-right-radius: 100px;
   
}
.absolute-margin-2
{
    top:20px;
    left:-210px;
}
.heading-margin
{
    margin-left: 200px;
}
.color-grey
{
    color:lightgray;
}
.icon-div
{
    height:55px;
    width:55px;
    border-radius: 50%;
    background-color:#253745;
}
.btn-color-1
{
    color:white;
    background-color: #32c36c;
    width:150px;
    border:1px #32c36c solid !important;
    padding:4px;
}

/* 3rd box */
.div-style-1
{
    height: 240px;
    width:300px;
    background-color: #32c36c;
    margin-left: 250px;
   
}
.div-style-2
{
    height:300px;
    width:400px;
    margin-left: 55px;
    margin-top: 4px;
}
.img-size-2
{
    height:300px;
    width:400px;
    border-bottom-left-radius: 150px;
    margin-left:55px;
    margin-top: 4px;
}
.absolute-margin
{
    top:15px;
    left:30px;
}

/* 4th box */
.div-style-3
{
    height:auto;
    width:auto;
    padding-top: 80px;
    padding-bottom: 80px;
}
.img-size-3
{
    height:auto;
    width:auto;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.color-darkgray
{
    color:#253745;
}
.progress-height
{
    height:8px;
}
.absolute-margin-progress84
{
   left:1420px;
   bottom:-1430px;
   color:#32c36c;
   font-weight:500;
}
.absolute-margin-progress35
{
   left:1420px;
   bottom:-1330px;
   color:#32c36c;
   font-weight:500;
}
.absolute-margin-progress67
{
   left:1420px;
   bottom:-1235px;
   color:#32c36c;
   font-weight:500;
}
.bg-progress
{
    background-color: #32c36c;
}

/* 5th box */
.div-darkgray
{
    height:250px;
    width:250px;
    background-color: #253745;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.div-darkgray-1
{
    padding-top: 35px;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-right: 20px;
}

/* 6th box */
.div-padding
{
    padding-top: 50px;
    padding-bottom:90px ;
}
.topmargin
{
    margin-top: 30px;
}
.img-div
{
    height:60px;
    width:60px;
    border-radius: 50%;
    border:none;
}
.position-center-img
{
    display: block; 
    margin-right:auto;
    margin-left:auto;
}
.position-center-text
{
    text-align: center;
}
.btn-viewall
{
    color:white;
    background-color: #32c36c;
    width:150px;
    height: 50px;
    border:1px #32c36c solid !important;
    padding:5px;
}
.border
{
    border-radius:25px 25px 25px 25px;
}
.border-cardbody
{
    border-bottom-right-radius:25px ;
    border-bottom-left-radius:25px ;
}
.card-img-div
{
    height:30px;
    width:30px;
    border-radius: 50%;
    border:none;
}
.list
{
    list-style-type: none;
  margin-left: -34px;
}
.flx
{
    margin-left: 100px;
}
.list-leftmargin
{
    margin-left: 130px;
}

/* border */
.border-3rdbox small
{
    position:relative;
    padding: 0px 15px;
}
.border-3rdbox small:before
{
    content:'';
    border:3px solid #32c36c;
    position:absolute;
    left:0px;
    top:0px;
    width:3px;
    height:40px;
}
.mobile-display
{
    display: none;
}

/* responsive */
@media (max-width:400px)
{
    /* 1st section next element */
    .mobile-display
    {
        display: block;
    }
    .web-display
    {
        display: none;
    }
    .container
    {
        margin-left: 10px;
        margin-right: 10px;
    }
    h1 
    {
        font-size: 12px;
    }
    h4 
    {
        font-size: 10px;
    }
    h6 {
        font-size: 10px;
    }
    p 
    {
        font-size: 8px;
    }
    .btn-color
    {
        width:50px;
        height:20px;
        padding:5px;
        font-size: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-getstarted
    {
        height:20px;
        width:20px;
        border-radius: 50%;
        margin-top: 1px !important;
    }
    .getstarted-icon
    {
        font-size: 10px;
        margin-bottom: 15px !important;
        margin-left: -4px;
    }
    .d-flex {
        align-items: center;
    }
    .getstarted-text
    {
        margin-top: 0px !important;
    }
    .img-size
    {
        margin-left: 0px;
        height: auto;
        width:100%;
        /* margin-top:-80px; */
    }
    .top-margin
    {
        margin-top:30px;
    }
    
/* 2nd section */
    .heading-margin
    {
        margin-left: 200px;
    }
    .img-div-size
    {
        width:50%;
        height: auto;
    }
    .div-style
    {
        height: 100px;
        width:130px;
    }
    .div-style-1
    {
        height:100px;
        width:130px;
    }
    .img-size-1
    {
        height:140px;
        width:130px;
        border-bottom-right-radius: 50px;
    }
    .absolute-margin-2
    {
        top:15px;
        left:-220px;
    }
    .col-2nd
    {
        margin-left: -10px !important;
        margin-top: -100px !important;
    }
    .icon-div
    {
        height:90% !important;
        width:100%;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .svg-icon
    {
        height: 10px;
        width:10px;
        margin-left: 1px !important;
        margin-top: -5px !important;
    }
    .second-svg-marg
    {
        margin-left: 5px !important;
    }
    .p-size
    {
        width:70px !important;
    }
    .btn-color-1
    {
        width:55px;
        padding:4px;
        font-size:8px;
        margin-top: -20px !important;
    }
/* 3rd section */
    .border-3rdbox small:before
    {
        top:0px;
        width:1px;
        height:30px;
        border:1px solid #32c36c;
    }
    .p-marg 
    {
        margin-top: -10px !important;
        font-size: 8px;
    }
    .third-col-3rd
    {
        margin-left: -10px;
        margin-top: -180px;
    }
    .div-style-2
    {
        height:120px;
        width:130px;
        border-bottom-left-radius: 50px;
        margin-left: 55px;
        margin-top: 4px;
    }
    .img-size-2
    {
        height:120px;
        width:130px;
        border-bottom-left-radius: 50px;
        margin-left:160px;
        margin-top: -3px !important;
    }
/* 4th section */
    .div-style-3
    {
        height:auto;
        width:100px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .img-size-3
    {
        height:200px;
        width:150px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .nav-text-1
    {
        margin-top: 10px;
    }
    .p-marg-2
    {
        margin-bottom: 3px !important;
    }
    .progress-height
    {
        height:4px;
        margin-bottom: 25px;
        /* position: relative; */
    }
    /* .absolute-margin-progress67
    {
        position: absolute;
        left:100px;
        top:0px;
        font-weight:0;
        font-size: 20px;
    } */

/* 5th section */
    .div-darkgray
    {
        height:150px;
        width:200px !important;
        background-color: #253745;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        padding-top:0px;
        padding-left: 20px;
        padding-bottom:0px;
        padding-right: 20px;
    }
    .dark-div-marg
    {
        margin-left: 10px !important;
        margin-right: 20px !important;
    }
    .dark-div-marg-1
    {
        margin-left: 0px !important;
        margin-top: 10px;
       
    }
    .dark-div-marg-top
    {
        margin-top: 10px;
    }
    .total-card-marg
    {
        margin-top: -10px;
    }
/* 6th section */
    .div-padding
    {
        padding-top:20px;
        padding-bottom:20px ;
    }
    .img-div
    {
       margin-top: 0px !important;
    }
    .topmargin
    {
        margin-top: 10px !important;
    }
/* 7th section */
    .btn-viewall
    {
        width:70px;
        height: 20px;
        padding:5px;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:5px;
        margin-right: 10px !important;
    }
    .card-marg 
    {
        margin-right: 2px !important;
        margin-left:-15px !important;
        margin-top: -10px !important;
    }
/* 8th section */
    .btn-footer
    {
        height:25px;
        width:auto;
        background-color: #32c36c;
        border: none;
        border-radius: 10px;
        font-size: 8px;
        font-weight: 900;
        color: white;
    }
    .flx
    {
        margin-left:15px;
    }
    .flex-footer
    {
        display: flex;
        gap:5px;
        align-items: center;
        margin-right: 10px;
        margin-top: -85px;
    }
    .footer-icon
    {
        font-size: 18px !important;
        margin-top: 10px;
    }
    .list
    {
        list-style-type: none;
    /* margin-left: -34px; */
    }
    .btn-footer ul 
    {
        display: none;
    }
    .btn-footer:hover ul 
    {
        display: block;
        margin-top: 10px;
    }
}